:root {
	--primary: #00b5ad;
	--secondary: #cde2dd;
    --info: rgb(249,250,251);
	--gray: #D9D5D2;


    --white: #fcfcfc;
    --dark: rgb(107, 114, 128); /* #555;*/
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    color: var(--dark);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
